<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#4484CE">
  <meta name="description" content="Sail is a lightweight Rails engine that brings an admin panel for managing configuration settings on a live Rails app">
  <title><%= I18n.t('sail.page_title') %></title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= stylesheet_link_tag    "sail/application", media: "all" %>
  <%= javascript_include_tag "sail/application", async: true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <nav id="nav-bar">
    <%= link_to(settings_path, method: :get, class: "home-link") do %>
      <h1 class="title"><%= I18n.t("sail.page_title") %></h1>
    <% end %>

    <button id="btn-guide" type="button" class="nav-button">
      <%= I18n.t("sail.guide") %>
    </button>

    <% if params[:monitor_mode] == Sail::ConstantCollection::TRUE %>
      <%= link_to(I18n.t("sail.regular_mode"), settings_path, method: :get, class: "nav-button", id: "btn-regular-mode") %>
    <% else %>
      <%= link_to(I18n.t("sail.monitor_mode"), settings_path(monitor_mode: "true"), method: :get, class: "nav-button", id: "btn-monitor-mode") %>
    <% end %>
  </nav>

  <div class="clearfix"></div>
  <%= yield %>
</div>
</body>
</html>
