<div id="guide-modal" style="display: none;">
  <h1>Reference Guide</h1>
  <hr>

  <details>
    <summary>
      <div><%= I18n.t("sail.searching") %></div>
    </summary>

    <p>
      <div class="items-container">
        <ul>
          <li><%= I18n.t("sail.by_setting_name_html").html_safe %></li>
          <li><%= I18n.t("sail.by_group_html").html_safe %></li>
          <li><%= I18n.t("sail.by_cast_type_html").html_safe %></li>
          <li><%= I18n.t("sail.by_stale_html").html_safe %></li>
          <li><%= I18n.t("sail.by_recent_html").html_safe %></li>
        </ul>
      </div>
    </p>
  </details>

  <details>
    <summary>
      <div><%= I18n.t("sail.profiles") %></div>
    </summary>

    <p><%= I18n.t("sail.profiles_can_be_used") %></p>
    <p><%= I18n.t("sail.profile_configuring") %></p>
  </details>

  <details>
    <summary>
      <div><%= I18n.t("sail.relevancy_score") %></div>
    </summary>

    <p><%= I18n.t("sail.relevancy_score_explanation") %></p>
  </details>

  <details>
    <summary>
      <div><%= I18n.t("sail.available_groups_and_types") %></div>
    </summary>

    <p>
      <%= I18n.t("sail.types_are") %>
      <b><%= settings.pluck(:cast_type).uniq.join(", ") %></b>
    </p>

    <p>
      <%= I18n.t("sail.groups_are") %>
      <b><%= settings.pluck(:group).uniq.join(", ") %></b>
    </p>
  </details>
</div>
