<div id="search-container">
  <div class="offset-container"></div>

  <div class="inner-container">
    <%= form_tag(settings_path, method: :get, id: "search-form") do %>
      <input type="text" name="query" id="query"
             placeholder="<%= I18n.t("sail.search_placeholder") %>"
             title="<%= I18n.t("sail.search_tooltip") %>">
    <% end %>

    <div id="progress-container">
      <progress id="search-submit-progress" value="0" max="100"></progress>
    </div>
  </div>

  <button id="btn-order" class="search-button" title="<%= I18n.t("sail.order_button_tooltip") %>">
    <%= image_tag("sail/sliders-h.svg", alt: I18n.t("sail.order_button_tooltip")) %>
  </button>
  <%= render(partial: "sort_menu") %>

  <button id="btn-profiles" class="search-button" title="<%= I18n.t("sail.profiles_tooltip") %>">
    <%= image_tag("sail/cog.svg", alt: I18n.t("sail.profiles_tooltip")) %>
  </button>

  <% if main_app.respond_to?(Sail.configuration.back_link_path.to_s) %>
    <%= link_to(main_app.method(Sail.configuration.back_link_path).call, method: :get, id: "main-app-link", class: "search-button", title: I18n.t("sail.main_app")) do %>
      <%= image_tag("sail/external-link-alt.svg", alt: I18n.t("sail.main_app")) %>
    <% end %>
  <% end %>

  <div class="clearfix"></div>
</div>
