<% cache setting, expires_in: Sail.configuration.cache_life_span do %>
  <div class="card">
    <h3>
      <%= setting.display_name %>

      <span class="relevancy-score" title="<%= I18n.t("sail.relevancy_tooltip") %>"><%= setting.relevancy %></span>
      <div class="clearfix"></div>
    </h3>
    <hr/>

    <%= form_tag(reset_setting_path(name: setting.name), method: :put, remote: true) do %>
      <button class="refresh-button" title="<%= I18n.t("sail.refresh_tooltip") %>">
        <%= image_tag("sail/refresh.svg", alt: I18n.t("sail.refresh_tooltip")) %>
      </button>
    <% end %>

    <div class="label-container">
      <%= link_to(setting.cast_type, settings_path(query: setting.cast_type), method: :get, class: "tag type-label") %>
    </div>

    <% if setting.group.present? %>
      <div class="label-container">
        <%= link_to(setting.group, settings_path(query: setting.group), method: :get, class: "tag group-label") %>
      </div>
    <% end %>

    <% if setting.stale? %>
      <div class="label-container">
        <%= link_to(I18n.t("sail.stale"), settings_path(query: Sail::ConstantCollection::STALE), method: :get, class: "tag stale-label", title: I18n.t("sail.stale_tooltip", days: Sail.configuration.days_until_stale)) %>
      </div>
    <% end %>

    <p class="setting-description" title="<%= setting.description %>"><%= setting.description %></p>

    <%= form_tag(setting_path(name: setting.name), method: :put, remote: true) do %>
      <div class="card-body-container">
        <div class="card-body">
          <% if setting.boolean? || setting.ab_test? %>
            <label class="switch">
              <input id="<%= "input_for_#{setting.name}" %>" type="checkbox" name="value" <%= setting.value == "true" ? "checked" : "" %>>
              <span class="slider round"></span>
            </label>
          <% elsif setting.range? %>
            <input id="<%= "input_for_#{setting.name}" %>" type="range" min="0" max="99" value="<%= setting.value %>" name="value" class="value-slider">
          <% elsif setting.date? %>
            <input id="<%= "input_for_#{setting.name}" %>" type="datetime-local" value="<%= DateTime.parse(setting.value).strftime("%Y-%m-%dT%H:%m:%S") %>" name="value" class="date-picker">
          <% else %>
            <input id="<%= "input_for_#{setting.name}" %>" type="text" name="value" class="value-input" value="<%= setting.value %>"/>
          <% end %>

          <button type="submit" class="btn-value-submit"><%= I18n.t('sail.save') %></button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
