<div id="settings-dashboard">
  <% cache [@settings, params[:monitor_mode]] do %>
    <span id="notice-success" class="notice success"><%= I18n.t("sail.updated") %></span>
    <span id="notice-alert" class="notice alert"><%= I18n.t("sail.failed") %></span>

    <% unless params[:monitor_mode] == Sail::ConstantCollection::TRUE %>
      <%= render(partial: "search") %>
    <% end %>

    <div id="settings-container">
      <% if @number_of_pages > 0 %>
        <% if params[:monitor_mode] == Sail::ConstantCollection::TRUE %>
          <%= render(partial: "setting_minimal", collection: @settings) %>
        <% else %>
          <%= render(partial: "setting", collection: @settings) %>
        <% end%>
      <% else %>
        <h1><%= I18n.t("sail.no_settings") %></h1>
      <% end %>

      <div class="clearfix"></div>
    </div>

    <div id="pagination">
      <div class="clearfix"></div>

      <div class="page-links">
        <%= link_to("", settings_path(page: [params[:page].to_i - 1, 0].max, monitor_mode: params[:monitor_mode]), method: :get, id: "angle-left-link", title: I18n.t("sail.previous_page")) %>

        <% (0...@number_of_pages).each do |page| %>
          <%= link_to(page + 1, settings_path(page: page, monitor_mode: params[:monitor_mode]), method: :get, class: params[:page].to_i == page || params[:page].blank? && page.zero? ? "active" : "") %>
        <% end %>

        <%= link_to("", settings_path(page: [params[:page].to_i + 1, @number_of_pages - 1].min, monitor_mode: params[:monitor_mode]), method: :get, id: "angle-right-link", title: I18n.t("sail.next_page")) %>
      </div>
    </div>
  <% end %>
</div>

<%= render(partial: "profiles_modal") %>
<%= render(partial: "guide_modal", locals: { settings: @settings }) %>
