<div id="settings-dashboard">
  <% cache @settings do %>
    <%= render(partial: 'search') %>

    <div id="settings-container">
      <%= render(partial: 'setting', collection: @settings) %>
      <div class="clearfix"></div>
    </div>

    <div id="pagination">
      <div class="clearfix"></div>

      <% if main_app.respond_to?(Sail.configuration.back_link_path) %>
        <div class="link-holder">
          <%= link_to(I18n.t("sail.main_app"), main_app.method(Sail.configuration.back_link_path).call, method: :get) %>
        </div>
      <% end %>

      <%= link_to('<', settings_path(page: [params[:page].to_i - 1, 0].max), method: :get) %>

      <% (0...number_of_pages).each do |page| %>
        <%= link_to(page + 1, settings_path(page: page), method: :get, class: params[:page].to_i == page || params[:page].blank? && page.zero? ? 'active' : '') %>
      <% end %>

      <%= link_to('>', settings_path(page: [params[:page].to_i + 1, number_of_pages - 1].min), method: :get) %>
    </div>
  <% end %>
</div>
